@import "./../../styles.scss";

:host {
    @include dFlex();
    overflow: hidden;
}

section {
    @include dFlex();
    flex-direction: column;
    height: calc(100vh - 2 * $HFHeight);
    cursor: grab;
    user-select: none;
    touch-action: none;
    .content {
        transform-origin: 0 0;
        will-change: transform;
        border: 2px solid red;
    }
    &.dragging {
        cursor: grabbing;
    }
}