@import "./../../styles.scss";

:host {
    @include dFlex();
}

section {
    @include dFlex();
    flex-direction: column;
    @include contentLimit();
    height: calc(100vh - 2 * $HFHeight);
    gap: 150px;
}