@import "./../../styles.scss";

:host {
    @include dFlex();
    overflow: hidden;
}

section {
    @include dFlex($jc: unset);
    flex-direction: column;
    height: calc(100vh - 2 * $HFHeight - 50px);
    overflow: auto;
    position: relative;
    margin-top: 50px;
    cursor: grab;
    user-select: none;
    touch-action: none;
    .content {
    }
    &.dragging {
        cursor: grabbing;
    }
}