@import "./../../../styles.scss";

:host {
    @include dFlex();
    background-color: #b6c8d8;
}

section {
    @include dFlex();
    @include contentLimit();
    height: $HFHeight;
    h1 {
        font-family: Inter;
        color: #34393d;
        margin: 0;
    }
}