@import "./../../../styles.scss";

section {
    @include dFlex();
    flex-direction: column;
    gap: 60px;
    .node-row, .children-row {
        @include dFlex($ai: unset);
        gap: 50px;
    }
}