@import "./../../../styles.scss";

section {
    @include dFlex();
    flex-direction: column;
    background-color: rgb(173, 165, 159);
    padding: 30px;
    .image {
        width: 150px;
        height: 150px;
        background-color: white;
    }
    .name {
        h3 {
            margin-bottom: 0;
        }
    }
}