@import "./../../../styles.scss";

section {
    @include dFlex();
    flex-direction: column;
    background-color: rgb(173, 165, 159);
    padding: 10px;
    .image {
        width: 100px;
        height: 100px;
        background-color: white;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            -webkit-user-drag: none; /* Safari / Chrome */
            user-select: none;
        }
    }
    .name {
        white-space: pre-line;
        text-align: center;
        margin-top: 6px;
        span {
            font-weight: bold;
        }
    }
}